
{{!-- combat bar buttons --}}
<div class="combat-bar flexrow">
    <div class="bar">
        <div class="combat-value">{{actor.system.armorClass.normal}}</div>
        <div class="combat-label">{{ localize "OSRIC.armorclassabbr" }}</div>
    </div>
    {{!-- <div class="bar">
        <div class="combat-value">{{actor.system.armorClass.shieldless}}</div>
        <div class="combat-label">{{ localize "OSRIC.defensestyle.shieldless" }}</div>
    </div>
    <div class="bar">
        <div class="combat-value">{{actor.system.armorClass.rear}}</div>
        <div class="combat-label">{{ localize "OSRIC.defensestyle.rear" }}</div>
    </div> --}}

     <div class="bar">
        <div class="combat-value">{{actor.system.attributes.hp.value}}</div>
        <div class="combat-label">{{ localize "OSRIC.hp" }}</div>
    </div>

    {{!-- <div class="bar">
        <div class="combat-value">{{actor.system.attributes.hp.max}}</div>
        <div class="combat-label">{{ localize "OSRIC.max" }}</div>
    </div> --}}

    {{!-- movement speeds --}}
     <div class="bar">
        {{#if (eq actor.type 'npc')}}
            <div class="combat-value">{{actor.system.movement}}</div>
        {{else}}
            <div class="combat-value">{{actor.system.attributes.movement.value}}</div>
        {{/if}}
        <div class="combat-label">{{ localize "OSRIC.move" }}</div>
    </div>

    {{#if isGM}}
     <div class="bar">
        <div class="combat-value"><a class="actor-longrest" title="Long rest for actor"><i class="fas fa-campground"></i></a></div>
        <div class="combat-label">{{ localize "OSRIC.longrest" }}</div>
    </div>
    {{/if}}

    {{!-- initiative
    {{#if token.combatant}}
     <div class="bar-right">
        <div class="combat-value" title="Current initiative">{{token.combatant.initiative}}</div>
        <div class="combat-label">{{ localize "OSRIC.initiative" }}</div>
    </div>
    <div class="initiative-block">
        <div style="{{#if actor.system.manualInitiative }}opacity:20%;{{else}}color:red;{{/if}}" class="roll-initiative" title="Roll initiative">
            <i class="fas fa-dice-d20"></i>
        </div> 
    </div>
    {{/if}} --}}

</div>

{{!-- matrix attack block --}}
<fieldset class="border-top">
    <legend>{{localize "OSRIC.matrix.matrixTitle" }}</legend>
    <div class="matrix-block flexrow">
        {{#each actor.system.matrix as |matrix index|}}
            <div class="flexcol" {{#if (eq index 10)}}style="background-color: red;color:white"{{/if}}>
                <div class="ac">{{matrix.ac}}</div>
                <div class="hit">{{matrix.hit}}</div>
            </div>
        {{/each}}
        <div class="matrix-label flexcol">
            <div class="ac-label" title="{{ localize "OSRIC.matrix.targetactip" }}">{{ localize "OSRIC.matrix.targetac" }}</div>
            <div class="roll-label" title="{{ localize "OSRIC.matrix.hitrolltip" }}">{{ localize "OSRIC.matrix.hitroll" }}</div>
        </div>
    </div>
</fieldset>

{{!-- weapons --}}
{{#if actor.system.weapons}}
    <div class="weapon-block">
        {{> "systems/osric/templates/parts/actor/weaponlist-block.hbs"}}
    </div>
{{/if}}

{{!-- spells  --}}
{{#if actor.hasSpellSlots}}
    <div class="spell-block">
        {{> "systems/osric/templates/parts/actor/memorization-block.hbs"}}
    </div>
{{/if}}

{{!-- actions for self and all items --}}
{{> "systems/osric/templates/parts/actor/actions-block-list.hbs" }}

{{!-- skills --}}
{{#if actor.system.skills}}
    <div class="skill-block">
        {{> "systems/osric/templates/parts/actor/skills-block.hbs"}}
    </div>
{{/if}}

