<form class="{{cssClass}} flexcol" autocomplete="off">
  <div class="npc">

    {{!-- Sheet Header --}}
    <header class="npc-sheet-header flexrow">

        <img id="drag-link" class="npc-profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="64" width="64" />
        <div class="npc-header-fields">
          <div><input class="actorname" name="name" type="text" value="{{actor.name}}" placeholder="Name"/></div>
        </div>
    </header>
    <div class="flexrow">
        {{#if system.attributes.identified}}
        {{else}}
          <div class="flexrow" title="Alias used when Actor not identified">
              <label style="flex-grow:0; margin-top:auto;margin-bottom:auto;margin-right:5px;">{{localize "OSRIC.alias"}}</label><input style="flex-grow:2;" name="system.alias" type="text" value="{{system.alias}}" placeholder="Alias Name"/>
          </div>
        {{/if}}
        <div><input class="npc-identification" type="checkbox" name="system.attributes.identified" {{ checked system.attributes.identified }} />{{localize "OSRIC.identified"}}</div>    
    </div>
    
    <nav class="sheet-tabs" data-group="primary">
      <div class="tab-items flexrow">
          <a class="item" data-tab="main">Main</a>
          <a class="item" data-tab="attributes">Attributes</a>
          <a class="item" data-tab="combat">Combat</a>
          <a class="item" data-tab="items">Gear</a>
          <a class="item" data-tab="proficiencies">{{localize "OSRIC.tabs.proficiencies"}}</a>
          <a class="item" data-tab="details">Details</a>
          <a class="item" data-tab="description">Description</a>
      </div>
    </nav>    

      {{!-- Sheet Body --}}
    <section class="sheet-body">
      {{!-- Main --}}
      <div class="tab main" data-group="primary" data-tab="main">
        <table>
          <tr>
            <td>
            <div>
              {{> "systems/osric/templates/parts/actor/npc-stat-block.hbs"}}
            </div>
            </td>
          </tr>
        </table>
        
      </div>

      {{!-- Attributes --}}
      <div class="tab attributes" data-group="primary" data-tab="attributes">
        <div class="ability-save-grid">
          {{!-- ability scores --}}
          {{> "systems/osric/templates/parts/actor/abilityScore-block.hbs"}}

          {{!-- saves --}}
          {{> "systems/osric/templates/parts/actor/save-block.hbs"}}

        </div>
          {{!-- combatStats ac/hp/thaco/move/etc --}}
          {{> "systems/osric/templates/parts/actor/combat-stats-block.hbs"}}          
      </div>

      {{!-- Combat --}}
      <div class="tab combat" data-group="primary" data-tab="combat">
        {{> "systems/osric/templates/actor/tabs/tab-combat.hbs" }}
      </div>


      {{!-- <div class="tab inventory" data-group="primary" data-tab="inventory">
        {{> "systems/osric/templates/parts/actor/inventorylist-block.hbs"}} 
      </div> --}}
      {{!-- Gear/Owned Items Tab --}}
      <div class="tab items" data-group="primary" data-tab="items">
          <div class="gear-block">
              {{> "systems/osric/templates/parts/actor/currency-block.hbs" }}
              {{> "systems/osric/templates/parts/actor/inventoryList-Sorted-block.hbs"}}
          </div>
      </div>

      {{!-- Proficieinces Tab --}}
      <div class="tab proficiencies" data-group="primary" data-tab="proficiencies">
          <div class="proficiencies-block">
              {{> "systems/osric/templates/parts/actor/itemsByTypeList-block.hbs" itemsByTypeList=config.academicTypes}}
          </div>
      </div>

      {{!-- Details tab --}}
      <div class="tab details" data-group="primary" data-tab="details">
        <fieldset>
            <legend>{{ localize "OSRIC.effects" }}</legend>
            {{> "systems/osric/templates/parts/active-effects.hbs"}}
        </fieldset>

        <div class="race-background-block flexrow">
            {{> "systems/osric/templates/parts/actor/itemsByTypeList-block.hbs" itemsByTypeList=config.detailsItemTypes}}
        </div>      

        {{> "systems/osric/templates/parts/actor/classlist-block.hbs"}}
        {{> "systems/osric/templates/parts/actor/character-general-block.hbs"}}
      </div>
      
      {{!-- description tab --}}
      <div class="tab description" data-group="primary" data-tab="description">
        <label>{{ localize "OSRIC.npcdescription" }}</label>
        {{> "systems/osric/templates/parts/actor/description.hbs"}}
      </div>    
    </section>

  </div>
</form>