// $action-background-color: rgb(233, 229, 208);

$action-background-color: rgb(230, 229, 224);
$action-background-alt-color: rgb(212, 212, 211);

.action-sheet-block {
  // list-style: none;
  // margin: 0px;
  // padding: 0px;

  .actionGroup:nth-of-type(odd) {
    background-color: $action-background-color;
  }

  .actionGroup:nth-of-type(even) {
    background-color: $action-background-alt-color;
  }
}

  .rollable.actionCard-roll {
      // background-color: rgb(194, 192, 192);
      // flex: 4;
  }
// .action-title {
//     flex: 1;
//     align-items: left;
//     align-content: left;
//     text-align: left;    
// }

  .action-buttons-menu {
    bottom: 150px;
    display: flex;
    flex-direction: row;
    flex-flow: wrap-reverse;
    max-width: 55%;
    font-weight: 600;
    margin-left: 0px;
    padding: 0px 0.5rem;
    position: absolute;

    .mini-actions-buttons {
      display: flex;
      flex-wrap:wrap;
    
      height: 50px;
      list-style: none;
      margin: 0 2px;
      padding: 0;
      border: 1px solid grey;
      border-radius: 3px;
      // display: grid;
      gap: 2px;
      padding: 1px;
      margin: 1px;

      grid-template-columns: repeat(var(--action-button-size), 50px);
    }

    .mini-action-button {
      height:100%;
      width:100%;
      word-wrap: break-word;
      // white-space: nowrap ;
      // overflow: hidden ;
      // text-overflow: ellipsis ;
    }

    li.mini-action {
      height: 49px;
      width: 50px;
    }
    
    
    .hud-actions {
      pointer-events: all;
    
      .mini-actions-buttons {
        color : white;
    
        .with-background-image {
          background-size:100%;
        }
    
        .no-image {
          color : black;
          background-color: rgb(194, 192, 192);
        }
    
      }
    
      .action-name {
        border: 1px groove;
        text-align: center;
        font-size: 0.8em;
        // font-weight: bold;
        &:hover,
        &:focus {
          background-color: whitesmoke;
          cursor: pointer;
        }
      }
    
    }
  
  } // end action-buttons-menu
 
  .action-sheet.action-name {
      flex: auto 1;
  }

  .action-sheet.action-image {
      flex: auto 1;
  }

  .action-block-images {
      align-items: center;
      align-content: center;
      text-align: left;    
  }

  .actionImage {
      display: block;
      margin-left: auto;
      margin-right: auto;
  }

  div.action-resource-trunc > select {
      width: 100px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
  }


  .actionGroup {
      border: 1px groove;
      border-radius: 5px;
      margin-top: 1px;
      margin-bottom: 1px;
      margin-right: 2px;
      margin-left: 2px;      
}

  .actionEntry {
    border-width: 0.5px;
    border-style: groove hidden hidden hidden;
    font-size: 1.01em; 
    justify-content: center;
    text-align: center;
    align-items: center;
    height: 24px;
    background-color: $action-background-color;
  }

  .action-dice-visual {
    flex: 0 0 24px;
    height: 24px;
    background-size: 24px;
    border: none;
    margin-right: 5px;
    flex-shrink: 1;
  }

  // .action-group-name {
  //   overflow: hidden;
  //   text-align: left;
  //   align-items: center;  
  //   font-size: 1em;
  //   margin:auto;

  //   cursor: pointer;
  //   &:hover .action-dice-visual {
  //     background-image: url("../../icons/svg/d20-grey.svg") !important;
  //   }
  //   &.action-dice-visual {
  //     background-image: url("../../icons/svg/d20-black.svg") !important;
  //   }
  // }


  // .action-name {
  //   flex: 2;
  //   margin: auto;
  //   overflow: hidden;
  //   font-size: 1.01em;
  //   text-align: left;
  //   align-items: center;  
  // }  
  
  // .action-name {
  //   cursor: pointer;
  //   &.rollable:hover .action-dice-visual {
  //     background-image: url("../../icons/svg/d20-grey.svg") !important;
  //   }
  //   &.rollable .action-dice-visual:hover {
  //     background-image: url("../../icons/svg/d20-black.svg") !important;
  //   }
  // }  

  // .item-name {
  //   cursor: pointer;
  //   &.rollable:hover .item-image {
  //     background-image: url("../../icons/svg/d20-grey.svg") !important;
  //   }
  //   &.rollable .item-image:hover {
  //     background-image: url("../../icons/svg/d20-black.svg") !important;
  //   }
  // }  

  .action-control-buttons {
    align-content: center;
    text-align: center;
    .green {
      color: rgb(90, 163, 18);
    }
  }

  .action-control {
    // flex: 0 0 86px;
    padding-right: 5px;
    text-align: right;
  }

  .action-header {
    margin-bottom: 0;
    margin-top: 0;
  }

  .delete-damage {
    align-items: center;
    align-content: center;
    text-align: center;
  }

  .action-titles, .action-list {
    list-style: none;
    margin: 0px;
    padding: 0px;
  
    .action-header {
      font-weight: bold;
      background-color: $c-mid;
    }
  
    .action {
      height: 25px;
      line-height: 24px;
      padding: 1px 0;
      border-bottom: 1px solid #bbb;
      
      .action-name {
        flex: 2;
        margin: 0;
        overflow: hidden;
        font-size: 1.01em;
        text-align: left;
        align-items: center;  
      }  
      
      .action-name {
        cursor: pointer;
        &.rollable:hover .item-image, &.rollable:hover .action-image {
          background-image: url("../../icons/svg/d20-grey.svg") !important;
        }
        &.rollable .item-image:hover , &.rollable .action-image:hover{
          background-image: url("../../icons/svg/d20-black.svg") !important;
        }
      }
  
      .action-image {
        flex: 0 0 24px;
        height: 24px;
        background-size: 24px;
        border: none;
        margin-right: 5px;
        flex-shrink: 1;
      }
    }
  
  }  