<form>
  <div class="flexrow">
      <b>{{question}}</b>
  </div>
  <div class="flexrow">
    <b>{{title}}</b>
    <div>
    {{#if actor.system.inventory}}
      <select class="onuse-item-select" name="inventorySelect">
        {{!-- <optgroup label="{{localize 'CHAT.RollDefault'}}"> --}}
          {{#select inventorySelect}}
            {{#each actor.system.inventory as |item idx|}}
                <option value="{{item.id}}">{{item.name}}</option>
            {{/each}}
          {{/select}}
        </optgroup>
      </select>
    {{else}}
        <label>{{localize "OSRIC.noinventory"}}</label>
    {{/if}}
    </div>
  </div>
</form>