{{log "dialog-get-attack.hbs" this}}
<form>
  {{#if flavor}}<b>{{{flavor}}}</b>{{/if}}

  <div class="flexrow">
    <div class="flexrow">
      <div class="dialog-icon"><img src="icons/weapons/swords/swords-short.webp" title="{{localize "OSRIC.askdamagemod"}}" /></div>
      <div>{{localize "OSRIC.modifier"}}</div>
    </div>
    
    <div>
      <input name="modifier" type="text" value="{{#if defmod}}{{defmod}}{{else}}{{/if}}" data-dtype="Number" />
    </div>
  </div>

  <div class="flexrow">
    
    <div class="flexrow">
      <div class="dialog-icon"><img src="systems/osric/icons/general/DamageColor.png" title="{{localize "OSRIC.combatSelections.acLocation"}}" /></div>
      {{localize "OSRIC.combatSelections.damageStyle"}}     
    </div>
    <div>
      <select name="dmgAdjustment">
          {{selectOptions CONFIG.OSRIC.damageStyles selected=damage-adjustment localize=true}}
      </select>
    </div>
  </div>

  {{> "systems/osric/templates/dialogs/parts/dialog-rollMode-selection.hbs" }}

</form>
