
{{!-- {{ log "chat/chatCard-attack.hbs this" this }} --}}


<div class="sheet-card attack-card">
    <fieldset class="border-top">
        <legend>{{localize "OSRIC.chat.attack" }}</legend>
        <div class="attackResult {{#if succeded}}hitSuccess{{else}}hitFailed{{/if}}">
            <div style="text-align: center;">
                {{#if flavor}}
                <div  style="text-align: center;" class="dice-flavor attack-flavor">
                    {{{flavor}}}
                </div>
                {{/if}}
                <div class="attack-text">
                    {{#if config.settings.autohitfail}}
                        {{#if succeded}}
                            {{#if critical}}
                                <b>{{ localize "OSRIC.critical" }}</b> {{localize "OSRIC.armorclassabbr"}} {{hitnumber}}
                            {{else}}
                                {{localize "OSRIC.hit"}} {{localize "OSRIC.armorclassabbr"}} {{hitnumber}}
                            {{/if}}
                        {{else}}
                            {{#if fumble}}
                                <b>{{localize "OSRIC.fumbled"}}</b>
                            {{else}}
                                {{localize "OSRIC.missed"}}
                            {{/if}}
                        {{/if}}
                    {{else}}
                        {{#if succeded}}
                            {{localize "OSRIC.hit"}} {{localize "OSRIC.armorclassabbr"}} {{hitnumber}}
                        {{else}}
                            {{localize "OSRIC.missed"}}
                        {{/if}}
                    {{/if}}
                </div>
                <div class="gm-only-view attack-hit-details">
                    {{localize "OSRIC.target"}} {{localize "OSRIC.armorclassabbr"}} {{targetnumber}} 
                    {{#if succeded}}
                        {{localize "OSRIC.hit"}}
                    {{else}}
                        {{localize "OSRIC.missed"}}
                    {{/if}} by {{difference}}
                </div>
            </div>
        </div>
    </fieldset>
    
    {{> "systems/osric/templates/parts/chat/chatCard-dice-roll.hbs" roll=roll}}

    {{#if (eq weapon.type 'weapon')}}
        {{> "systems/osric/templates/parts/chat/chatCard-weapon.hbs" owner=owner item=weapon sourceToken=source.token sourceActor=source config=config}}
    {{/if}}
</div>