<div class="hud-actions">
    {{#if actions.length}}
    {{!-- {{log "actions-block-mini.hbs this" this}} --}}
        <div class="mini-actions-buttons" style="--action-button-size: {{actionCount}};">
            {{#each actionList as |actionGroup actionGroupName|}}
                <li class="mini-action action-header no-image flexrow" data-action-group="{{actionGroupName}}" data-sourceitem-id="{{../item.id}}" title="{{actionGroupName}}">
                    <div class="mini-action-button action-name rollable actionCard-roll" data-type="action-name">{{actionGroupName}}</div>
                </li>
            {{/each}}
        </div>
    {{/if}}
</div>

