
<div class="item-attributes">
    {{#if item.isIdentified}}
        {{#includes item.type "race||class||proficiency||bundle||skill||encounter||ability||background"}}
        {{else}}
            <fieldset>
                <legend>{{ localize "OSRIC.itemattributes" }}</legend>
                <div class="item-header-titles flexrow">
                    <div class="item-type">
                        <label class="resource-label">{{localize "OSRIC.type"}}</label>
                    </div>
                    <div class="item-subtype">
                        <label class="resource-label">{{localize "OSRIC.subtype"}}</label>
                    </div>
                    <div class="item-rarity">
                        <label class="resource-label">{{localize "OSRIC.rarity"}}</label>
                    </div>
                </div>

                <div class="flexrow">
                    <div class="item-type">
                        <select name="system.attributes.type">
                            {{#select system.attributes.type}}
                                <option value="">{{localize "OSRIC.none"}}</option>
                                {{#each config.itemTypes as |name type|}}
                                    <option value="{{name}}">{{name}}</option>
                                {{/each}}
                            {{/select}}
                        </select>
                    </div>
                    <div class="item-subtype">
                        <select name="system.attributes.subtype">
                            {{#select system.attributes.subtype}}
                                <option value="">{{localize "OSRIC.none"}}</option>
                                {{#each config.itemTypes as |name type|}}
                                    <option value="{{name}}">{{name}}</option>
                                {{/each}}
                            {{/select}}
                        </select>
                    </div>
                    <div class="item-rarity">
                        <select name="system.attributes.rarity">
                            {{#select system.attributes.rarity}}
                                <option value="">{{localize "OSRIC.none"}}</option>
                                {{#each config.itemRarityTypes as |name type|}}
                                    <option value="{{name}}">{{name}}</option>
                                {{/each}}
                            {{/select}}
                        </select>
                    </div>
                </div>
            </fieldset>
        {{/includes}}

        {{!-- properties --}}
        <fieldset>
            <legend>{{ localize "OSRIC.properties" }} <a class="general-properties-controls create-entry" title="{{localize "OSRIC.add" }}" data-action="create"><i class="fas fa-plus"></i></a></legend>
            <div class="general-properties-row">
                {{#if system.attributes.properties }}
                    {{#each system.attributes.properties as |property index|}}
                        <div class="general-properties-column">
                            <li class="flexrow" data-index={{index}}>
                                <input type="text" name="system.attributes.properties.{{index}}" value="{{property}}" placeholder="{{localize "OSRIC.placeholder"}}" />
                                <div class="short-field">
                                    <a class="general-properties-controls remove-property" title="{{localize "OSRIC.remove" }}" data-action="remove"><i class="fas fa-trash-alt"></i></a>
                                </div>
                            </li>
                        </div>
                    {{/each}}
                {{else}}
                    <div style="text-align:center;">{{localize "OSRIC.none"}}</div>
                {{/if}}
            </div>
        </fieldset>

        {{!-- skill mods --}}
        {{>"systems/osric/templates/parts/item/item-skillmods-block.hbs"}}

    {{/if}}
</div>