{{!-- {{log "actions-block-list-mini.hbs actor" actor}}
{{log "actions-block-list-mini.hbs system" system}}
{{log "actions-block-list-mini.hbs actionList" actionList}}
{{log "actions-block-list-mini.hbs this" this}} --}}
<div class="mini-actions-list card-buttons hud-actions">
{{!-- <div class="grouping-border"> --}}
    <div class="action-block">
        <div class="actions actions-mini item-titles">
            {{> "systems/osric/templates/parts/actions-block-mini.hbs" actor=actor actions=system.actions actionList=system.actionList showActionHeader=true }}
            {{> "systems/osric/templates/parts/actor/actions-block-inventory-mini.hbs"}}
        </div>
    </div>
{{!-- </div> --}}
</div>