{{!-- {{log "actions-block-inventory.hbs actor" actor}} --}}
{{#if actor.system.actionInventory}}
  {{#each actor.system.actionInventory as |item id|}}
    {{#if item.system.actions}}
      {{> "systems/osric/templates/parts/actions-block.hbs" actor=../actor actions=item.system.actions actionList=item.system.actionList item=item}}
    {{/if}}
  {{/each}}
{{/if}}