{{!-- ac/hp/thaco/move/etc --}}
<fieldset class="border-top title-label combat-stats">
    <legend>{{ localize "OSRIC.combat" }}</legend>
    <div class="flexrow combat-box">
        {{!-- armor class --}}
        <label class="armor-icon" >{{ localize "OSRIC.armorclass" }}</label>
        <div class="ac-value">{{actor.system.armorClass.normal}}</div>
        
        <div class="variant flexcol">
            <div class="combat-value">{{actor.system.armorClass.shieldless}}</div>
            <div class="combat-label">{{ localize "OSRIC.defensestyle.shieldless" }}</div>
        </div>

        <div class="variant flexcol">
            <div class="combat-value">{{actor.system.armorClass.rear}}</div>
            <div class="combat-label">{{ localize "OSRIC.defensestyle.rear" }}</div>
        </div>

        {{!-- <div></div> --}}

        {{!-- hit points --}}
        <label class="hp-icon">{{ localize "OSRIC.hitpoints" }}</label>
        <div class="hp-value">{{actor.system.attributes.hp.value}}</div>
        <div class="variant flexcol">
            <div class="combat-value">{{actor.system.attributes.hp.max}}</div>
            <div class="combat-label">{{ localize "OSRIC.max" }}</div>
        </div>

        {{!-- <div></div> --}}

        {{!-- movement speeds --}}
        <label style="padding-top:1.01em;" class="movement-icon">{{ localize "OSRIC.move" }}</label>
        <div class="movement-value">{{actor.system.attributes.movement.value}}</div>

        {{!-- so we have a bar between move|thac0 --}}
        <div class="variant flexcol"><div style="border-right: 1px solid black;"></div></div>

        {{!-- thaco/attack --}}
        <label style="padding-top:1.01em;" class="thaco-icon">{{ localize "OSRIC.thaco" }}</label>
        <div class="thaco-value">{{actor.system.attributes.thaco.value}}</div>


    </div>


</fieldset>
{{!-- end ac/hp/thaco/move/etc --}}