{{!-- saves --}}
<fieldset class="border-top  title-label save-border save-stats">
    <legend>{{ localize "OSRIC.saves" }}</legend>
    {{!-- <div class="title-label">{{ localize "OSRIC.saves" }}</div> --}}
    <div class="save-box">
        {{#each system.saves as |save key|}}
        <li class="flexcol save">
            <div class="save-check rollable save-label"
                data-save-type="{{key}}" data-target="{{save.value}}" data-label="{{ localize (concat "OSRIC.saveTypes." key) }}" title="{{ localize (concat "OSRIC.saveTypes." key) }}" >{{ localize (concat "OSRIC.saveTypes.abbr." key) }}</div>
            <input class="save-value" name="system.saves.{{key}}.value" type="number" value="{{save.value}}" data-dtype="Number" />
        </li>
        {{/each}}
        {{#if isNPC}}<div></div><div class="saves-recalculate rollable" title="Recalculate saves based on current hit dice value"><i class="fas fa-recycle"></i></div>{{/if}}
    </div>
</fieldset>
{{!-- end saves --}}
