<div class="category">
    <div class="item-titles flexrow item-header">
        <div class="item-caret"><i class="fas fa-caret-down"></i></div>
        <span align="left" class="item-name">Spells</span>
        <div class="item-controls"></div>
    </div>
    <div class="item-list">
        <li class="item-header">
            <div class="item flexrow">
                <div class="item-image flexrow"></div>
                <div class="item-name flexrow"><h4>Name</h4></div>
                <div class="item-controls"><a class="item-control item-create" title="Create item" data-type="armor"><i class="fas fa-plus"></i></a></div>
            </div>
        </li>
        {{#each actor.system.spells as |item id|}}
        <li class="item-entry">
            <div class="item flexrow reveal-hidden" data-id="{{item.id}}" data-type="{{item.type}}">
                <div class="item-image"><img src="{{item.img}}" title="{{item.name}}" width="24" height="24" /></div>
                <h4 class="item-name" data-id="{{item.id}}">{{item.name}}</h4>
                <div class=" item-controls">
                    <a class="item-control item-edit hidden" title="Edit Item"><i class="fas fa-edit"></i></a>
                    <a class="item-control item-delete hidden" title="Delete Item"><i class="fas fa-trash"></i></a>
                </div>
            </div>
        </li>
        {{/each}}
    </div>
</div>
